{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="text-center">
        <h2>Our Remodeling and Installation Services</h2>
        <p>
            Welcome to the home of SK Flooring! Below you will find all of the installation services we offer to
            Charlotte NC and the surrounding area’s.
        </p>
        <p>
            You can click on any service and see our pricing up front. Our pricing is fair and standardized. We DO NOT
            set pricing based upon the maximum we think you can afford. Whether we are working in a $50,000 home or a
            $5,000,000 home, the price will always be the same.
        </p>
    </div>
{% endblock %}
