<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link rel="stylesheet" href="/css/fontawesome.min.css" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-xl top-content">
            <header>
                <a href="/" class="logo">
                    <img class="logo_img" alt="" src="/images/logo.jpg" height="675" width="619" />
                </a>
                {% include 'nav.html.twig' %}
                {% include 'soclinks.html.twig' %}
            </header>
            <section class="masthead">
                <video class="videoStyle" autoPlay loop muted>
                    <source src="/Website-Video.mp4" type='video/mp4'/>
                </video>
                <div class="overlay"></div>
                <div class="mainInfo">
                    <h1 class="title">Your Dream Floor / Our Expert Installation</h1>
                    <p class="subtitle">Serving Charlotte NC and All Surrounding Area’s</p>
                    <a class="btn btn-primary" role="button" href="/">Schedule a FREE Estimate</a>
                    <p>OR</p>
                    <a class="btn btn-primary" role="button" href="/">Get FREE Samples & Schedule a FREE Estimate</a>
                    {% include 'soclinks.html.twig' %}
                </div>
            </section>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
