<div class="socLinks">
    <a class="socItem" href="/">
        <i class="fab fa-facebook"></i>
    </a>
    <a class="socItem" href="/">
        <i class="fab fa-twitter"></i>
    </a>
    <a class="socItem" href="/">
        <i class="fab fa-instagram"></i>
    </a>
</div>